################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs
/Client/.vs/ProgettoGUI/v16
/Server/.vs/Server/v16
